
							<!-- Basic layout-->
							<form class="form-horizontal" name="formAltaCtaCte" ng-init="init()" ng-submit="cargar()" novalidate>
								<div class="panel panel-flat">
									<div class="panel-heading">
										<h5 class="panel-title">Alta de Cuenta Corriente</h5>
										<div class="heading-elements">

					                	</div>
									</div>
									
									<div class="panel-body">

										<div class="form-group" ng-class="{ 'has-error' : formAltaCtaCte.numero.$invalid && !formAltaCtaCte.numero.$pristine }">
											<label class="control-label">Número: <span class="text-danger">*</span></label>
											<div class="">
												<input type="number" class="form-control" ng-model="ctacte.numero" name="numero" required>
												<label id="basic-error" ng-show="formAltaCtaCte.numero.$invalid && !formAltaCtaCte.numero.$pristine" class="validation-error-label" for="numero">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaCtaCte.numero.$valid && !formAltaCtaCte.numero.$pristine" class="validation-error-label validation-valid-label" for="basic">Perfecto!  </label>
											</div>
										</div>
										
										<div class="form-group" ng-class="{ 'has-error' : formAltaCtaCte.descripcion.$invalid && !formAltaCtaCte.descripcion.$pristine }">
											<label class="control-label">Descripción: <span class="text-danger">*</span></label>
											<div class="">
												<input type="text" class="form-control" ng-model="ctacte.descripcion" name="descripcion" required>
												<label id="basic-error" ng-show="formAltaCtaCte.descripcion.$invalid && !formAltaCtaCte.descripcion.$pristine" class="validation-error-label" for="descripcion">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaCtaCte.descripcion.$valid && !formAltaCtaCte.descripcion.$pristine" class="validation-error-label validation-valid-label" for="basic"> Perfecto! </label>
											</div>
										</div>
										
										<div class="form-group" ng-show="edit==true">
											<label class="control-label">Fecha Apertura:</label>
											<div class="">
												<input type="text" class="form-control" ng-model="ctacte.fecha" disabled="disabled">
												</div>
										</div>

										<div class="form-group">
											<label class="control-label">Deuda actual:</label>
											<div class="">
												<input type="number" class="form-control" ng-model="ctacte.deuda" placeholder="$">
											</div>
										</div>
										
										<div class="panel-body" ng-show="edit==true">
										<label class="control-label">Lista de Clientes en la Cuenta Corriente:</label>
											<div class="form-group">
											<table class="table">
											<thead>
												<tr>
													<th>#</th>
													<th>DNI</th>
													<th>Nombre</th>										
													<th>Apellido</th>										
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="cliente in clientes track by $index" >
													<td>{{$index + 1}}</td>
													<td>{{cliente.dni}}</td>																						
													<td>{{cliente.name}}</td>
													<td>{{cliente.surname}}</td>
												</tr>																			
											</tbody>
										</table>	
											</div>
											</div>
									
										
										
										<div class="text-center">
											<button type="submit" ng-disabled="formAltaCtaCte.$invalid" class="btn btn-primary">Confirmar <i class="icon-arrow-right14 position-right"></i></button>
											<button ui-sref="main.ctactes" class="btn bg-slate-400">Cancelar <i class="icon-cross2 position-right"></i></button>
										</div>
									</div>
										
										</div>
									</div>
								</div>
							</div>
								
							</form>
							<!-- /basic layout -->

						</div>

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
