
	<div class="panel panel-flat" ng-init="init()">
		<div class="panel-heading">
			<h5 class="panel-title">Lista de Rubros</h5>
			<div class="heading-elements">

			</div>
		</div>

		<div class="panel-body">
			<div class="button-right">
				<a ui-sref="main.rubrosCargar"><button type="button" class="btn btn-primary">Añadir<i class="icon-plus22"></i></button></a>
			</div>
		</div>

		<table class="table datatable-responsive">
			<thead>
				<tr>
					<th>#</th>
					<th>Descripcion</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="rubro in filteredRubros track by $index" >
					<td class="col-md-1">{{($index+1)+((currentPage-1)*numPerPage)}}</td>
					<td class="col-md-5">{{rubro.descripcion}}</td>
					<td class="col-md-3">
						<ul class="icons-list">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									<i class="icon-menu9"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-right">
									<li><a ng-click="update(rubro)"><i class="icon-pencil7"></i>Modificar</a></li>
									<li><a ng-click="borrar(rubro._id)"><i class=" icon-eraser2"></i>Eliminar</a></li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
		
					  <div class="pagination-container"> 	  	     
			    <ul uib-pagination total-items="totalItems" boundary-links="true"  first-text="Primero" last-text="Último" ng-model="currentPage" next-text="Siguiente" previous-text="Anterior" ng-change="pageChanged()"></ul>		
		</div>	  
	</div>				

