
							<!-- Basic layout-->
							<form class="form-horizontal" name="formAltaSeccion" ng-init="init()"ng-submit="cargar()" novalidate>
								<div class="panel panel-flat">
									<div class="panel-heading">
										<h5 class="panel-title">Información de Sección</h5>
										<div class="heading-elements">

					                	</div>
									</div>
								
									<div class="panel-body">

										<div class="form-group" ng-class="{ 'has-error' : formAltaSeccion.descripcion.$invalid && !formAltaSeccion.descripcion.$pristine }">
											<label class="control-label">Descripción: <span class="text-danger">*</span></label>
											<div class="">
												<input type="text" class="form-control" ng-model="seccion.descripcion" name ="descripcion" required>
												
												<label id="basic-error" ng-show="formAltaSeccion.descripcion.$invalid && !formAltaSeccion.descripcion.$pristine" class="validation-error-label" for="descripcion">Éste campo es obligatorio</label>
												<label id="basic-error" ng-show="formAltaSeccion.descripcion.$valid && !formAltaSeccion.descripcion.$pristine" class="validation-error-label validation-valid-label" for="basic">Perfecto!  </label>
												
											</div>
										</div>
										


										<div class="text-center">
											<button type="submit"  ng-disabled="formAltaSeccion.$invalid" class="btn btn-primary">Confirmar <i class="icon-arrow-right14 position-right"></i></button>
											<button ui-sref="main.secciones" class="btn bg-slate-400">Cancelar <i class="icon-cross2 position-right"></i></button>
										</div>
									</div>
								</div>
							</div>
								
							</form>
							<!-- /basic layout -->

						</div>



					<!-- 
					<div class="footer text-muted">
						&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
					</div>
					 -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
