

					<div class="panel panel-flat" ng-init="init()">
						<div class="panel-heading">
							<h5 class="panel-title">Lista de Subrubros</h5>
							<div class="heading-elements">

		                	</div>
						</div>

						<div class="panel-body">
							<div class="button-right">
								<a ui-sref="main.subrubrosCargar"><button type="button" class="btn btn-primary">Añadir<i class="icon-plus22"></i></button></a>
							</div>
						</div>							
						<!--		<div class="panel-body">
							<div class="button-left" "col-lg=3">
								<label class="control-label">Seleccionar rubro: </label>
								<select class="form-control listbox" ng-options="rubro.descripcion for rubro in rubros" ng-model="rubro" ng-change="mostrarSubrubros(rubro._id)">
									<option ng-repeat="rubro in rubros" >{{rubro.descripcion}}</option>
								</select>
						</div>
						</div>-->

						<table class="table datatable-responsive">
							<thead>
								<tr>
									<th>#</th>
									<th>Descripción</th>
									<th>Rubro</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="subrubro in filteredSubrubros track by $index" >
									<td class="col-md-1">{{($index+1)+((currentPage-1)*numPerPage)}}</td>
									<td class="col-md-4">{{subrubro.subrubro.descripcion}}</td>
									<td class="col-md-4">{{subrubro.rubroDescripcion}}</td>
									<td class="col-md-3">
										<ul class="icons-list">
											<li class="dropdown">
												<a class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>

												<ul class="dropdown-menu dropdown-menu-right">
													<li><a ng-click="update(subrubro)"><i class="icon-pencil7"></i>Modificar</a></li>
													<li><a ng-click="borrar(subrubro)"><i class=" icon-eraser2"></i>Eliminar</a></li>
												</ul>
											</li>
										</ul>
									</td>
								</tr>

							</tbody>
						</table>
											  <div class="pagination-container"> 	  	     
			    <ul uib-pagination total-items="totalItems" boundary-links="true"  first-text="Primero" last-text="Último" ng-model="currentPage" next-text="Siguiente" previous-text="Anterior" ng-change="pageChanged()"></ul>		
		</div>	  
					</div>				
				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
